<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <!-- <span>Angular Azure AD</span> -->
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
     <a mat-button  (click)="openDialog()">Add Product</a>
   <!-- <a mat-button [routerLink]="['reports']">Reports</a> -->
    <div class="toolbar-spacer"></div>
    <span style="padding:10px;">Welcome {{userName}}!</span>
    
    <button mat-button mat-raised-button color="warn" *ngIf="!isUserLoggedIn" (click)="login()">Login</button>
    <button mat-button mat-raised-button color="warn" *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>
  </mat-toolbar>
</p>
<div style="margin:5px;"></div>
<router-outlet></router-outlet>